@page
@model Admin.IndexModel
@{
    ViewData["Title"] = "صفحه اول";
}
<div class="row">
    <div class="col" style="max-width: 250px;">
        <div class="text-center p-2 shadow border">
            <a href="/Admin/Rate/" class="nav-link link-dark "><strong> مدیریت تبدیل نرخ ارز </strong></a>
            <p class="card-text"><small class="text-muted">مدیریت اطلاعات تبدیل نرخ ارز ها</small></p>
        </div>
    </div>
    <div class="col" style="max-width: 250px;">
        <div class="text-center p-2 shadow border">
            <a href="/Admin/Rate/Route/" class="nav-link link-dark "><strong> مسیریابی تبدیل </strong></a>
            <p class="card-text"><small class="text-muted">بهترین مسیر برای تبدیل نرخ ارز را بیابید</small></p>
        </div>
    </div>
    <div class="col" style="max-width: 250px;">
        <div class="text-center p-2 shadow border">
            <a href="/Admin/User/" class="nav-link link-dark "><strong> لیست کاربران </strong></a>
            <p class="card-text"><small class="text-muted">مدیریت اطلاعات کاربران سیستم</small></p>
        </div>
    </div>
</div>