@page
@model Admin.Rate.ManagePageModel
@{
    Layout = "_Modal";
}
<input type="hidden" asp-for=Id />
@section Header{
    <h4 class="m-0"><i class="bi bi-chat-left-dots text-primary"></i> اطلاعات نرخ</h4>
}
    <div class="row">
        <numberbox id="Rate" label-text="نرخ تبدیل" is-required="true" />
    </div>
    <div class="row">
        <textbox id="From" label-text="از" is-required="true" input-extra-class="ltr" />
        <textbox id="To" label-text="به" is-required="true"  input-extra-class="ltr"/>
    </div>
    @section Footer{
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="CloseButton"> <i class="bi bi-x-circle"></i> بستن فرم </button>
    <button type="button" class="btn btn-outline-success" onclick="PostData()"><i class="bi-plus-circle-dotted"></i> ثبت نرخ</button>
}


    <script>
        function PostData() {

            var result = ValidateGroup();
            if (result != null) { Toast({ message: result, bgColor: 'bg-warning' }); return; }

            $.post('/Admin/Rate/Manage/?handler=Save', CollectformData(), function(Result) {
                Toast({ message: Result.Message });
                $("#CloseButton").click();
            })
        }
    </script>